html
{
    font-family: "Noto Sans", "Noto Sans KR", sans-serif;
}
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul, li
{
    list-style: none;
}
a
{
    text-decoration: none;
    color: inherit;
}

/** 탑바 시작 **/
.TopBar_wrap
{
    background: rgba(0,0,0,.5);
    width: 100%;
    position: fixed;
    transition: background .3s;
    z-index: 10;
}
.TopBar_wrap:hover
{
    background: #fff;
}
.TopBar_wrap:hover .icon
{
    fill: rgba(163, 126, 44, 1);
}
.TopBar_wrap:hover .rolex
{
    fill: rgba(0, 96, 57, 1);
}
.TopBar_wrap:hover > .TopBar > .MenuBox1 > li > a
{
    color: #000;
}
.TopBar_wrap:hover > .TopBar > .lng > a
{
    color: #000;
}
.TopBar_wrap.active
{
    background: #fff;
    box-shadow: 0 3px 15px rgb(0,0,0,.2);
}
.TopBar_wrap.active .icon
{
    fill: rgba(163, 126, 44, 1);
}
.TopBar_wrap.active .rolex
{
    fill: rgba(0, 96, 57, 1);
}
.TopBar_wrap.active > .TopBar > .MenuBox1 > li > a
{
    color: #000;
}
.TopBar_wrap.active > .TopBar > .lng > a
{
    color: #000;
}
.TopBar_wrap > .TopBar
{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
}
.TopBar_wrap > .TopBar > .logo
{
    margin-left: 20px;
    display: flex;
    align-items: flex-end;
    fill: rgba(255, 255, 255, 1);
}
.TopBar_wrap > .TopBar > .MenuBox1
{
    display: flex;
    position: relative;
    top: 10px;
}
.TopBar_wrap > .TopBar > .MenuBox1 > li
{
    position: relative;
}
.TopBar_wrap > .TopBar > .MenuBox1 > li > a
{
    text-align: center;
    font-size: 15px;
    color: #fff;
    padding: 0 50px;
    display: block;
    padding-bottom: 10px;
}
.TopBar_wrap > .TopBar > .MenuBox1 > li:hover > a
{
    color: rgba(0, 96, 57, 1);
}
.TopBar_wrap > .TopBar .MenuBox2
{
    position: absolute;
    left: 0;
    width: 100%;
    background: #fff;
    visibility: hidden;
    opacity: 0;
    transition: opacity .3s;
    border: 1px solid rgba(0,0,0,.1);
    border-top: none;
}
.TopBar_wrap > .TopBar .MenuBox2 > li > a
{
    color: #000;
    text-align: center;
    display: block;
    white-space: nowrap;
    padding: 10px 0;
    font-weight: 300;
    font-size: 15px;
}
.TopBar_wrap > .TopBar .MenuBox2 > li:first-child > a
{
    padding-top: 15px;
}
.TopBar_wrap > .TopBar .MenuBox2 > li:last-child > a
{
    padding-bottom: 25px;  
}
.TopBar_wrap > .TopBar > .MenuBox1 > li:hover .MenuBox2
{
    visibility: visible;
    opacity: 1;
}
.TopBar_wrap > .TopBar .MenuBox2 > li:hover > a
{
    color: rgba(0, 96, 57, 1);
}
.TopBar_wrap > .TopBar > .lng
{
    right: 20px;
    color: #fff;
    font-size: 15px;
    margin-right: 20px;
    position: relative;
    top: 10px;
}
.TopBar_wrap > .TopBar > .lng > a
{
    display: block;
    padding: 0 30px;
    padding-bottom: 10px;
}
.TopBar_wrap > .TopBar > .lng:hover > a
{
    color: rgba(0, 96, 57, 1);
}
.TopBar_wrap > .TopBar > .lng > ul
{
    position: absolute;
    background: #fff;
    right: 0;
    visibility: hidden;
    opacity: 0;
    transition: opacity .3s;
    border: 1px solid rgba(0,0,0,.1);
    border-top: none;
    display: inline;
}
.TopBar_wrap > .TopBar > .lng:hover > ul
{
    visibility: visible;
    opacity: 1;
}
.TopBar_wrap > .TopBar > .lng > ul > li > a
{
    color: #000;
    font-size: 13px;
    padding: 3px 4px;
    display: block;
}
.TopBar_wrap > .TopBar > .lng > ul > li:first-child > a
{
    padding-top: 14px;
}
.TopBar_wrap > .TopBar > .lng > ul > li:last-child > a
{
    padding-bottom: 14px;
}
.TopBar_wrap > .TopBar > .lng > ul > li:hover > a
{
    color: rgba(0, 96, 57, 1);
}
/** 탑바 끝 **/

/** 모바일 탑바 시작 **/
.mob-TopBar
{
    display: none;
}
.mob-TopBar > .top-bar
{
    background: rgba(0,0,0,.5);
    width: 100%;
    position: fixed;
    transition: background .3s;
    z-index: 10;
}
.mob-TopBar:hover > .top-bar
{
    background: #fff;
}
.mob-TopBar:hover > .top-bar .icon
{
    fill: rgba(163, 126, 44, 1);
}
.mob-TopBar:hover > .top-bar .rolex
{
    fill: rgba(0, 96, 57, 1);
}
.mob-TopBar.active > .top-bar
{
    background: #fff;
    box-shadow: 0 3px 15px rgb(0,0,0,.2);
}
.mob-TopBar.active > .top-bar .icon
{
    fill: rgba(163, 126, 44, 1);
}
.mob-TopBar.active > .top-bar .rolex
{
    fill: rgba(0, 96, 57, 1);
}
.mob-TopBar.active > .top-bar > .menu::after,
.mob-TopBar.active > .top-bar > .menu::before
{
    background: #000;
}
.mob-TopBar.active > .top-bar > .search > svg
{
    fill: #000;
}
.mob-TopBar > .top-bar > .logo
{
    display: flex;
    align-items: flex-end;
    fill: rgba(255, 255, 255, 1);
}
.mob-TopBar > .top-bar
{
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
}
.mob-TopBar > .top-bar > .menu
{
    margin-left: 20px;
    width:30px;
    height: 20px;
    position: relative;
}
.mob-TopBar > .top-bar > .menu::after
{
    position: absolute;
    width: 100%;
    height: 3px;
    top:0;
    content: '';
    background: #fff;
    transition: background .3s;
}
.mob-TopBar > .top-bar > .menu::before
{
    position: absolute;
    width: 100%;
    height: 3px;
    bottom:0;
    content: '';
    background: #fff;
    transition: background .3s;
}
.mob-TopBar:hover > .top-bar > .menu::after,
.mob-TopBar:hover > .top-bar > .menu::before
{
    background: #000;
}
.mob-TopBar:hover > .top-bar > .menu:hover::after,
.mob-TopBar:hover > .top-bar > .menu:hover::before
{
    background: rgba(0, 96, 57, 1);
}
.mob-TopBar > .top-bar > .search > svg
{
    fill: #fff;
    transition: fill .3s;
    margin-right: 20px;
    width: 20px;
    height: 20px;
}
.mob-TopBar:hover > .top-bar > .search > svg
{
    fill: #000;
}
.mob-TopBar > .top-bar > .search:hover > svg
{
    fill: rgba(0, 96, 57, 1);
}
.mob-menu-box
{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: -100%;
    z-index: 100;
    background: rgb(33, 33, 33);
}
.mob-menu-box.active
{
    left: 0;
    transition: left .3s;
}
.mob-menu-box > .close
{
    position: absolute;
    top: 20px;
    right: 20px;
    width: 20px;
    height: 20px;
}
.mob-menu-box > .close::before,
.mob-menu-box > .close::after
{
    content: '';
    position: absolute;
    background: #fff;
    width: 100%;
    height: 3px;
    top: 45%;
    transition: background .3s;
}
.mob-menu-box > .close::before
{
    transform: rotate(-45deg);
}
.mob-menu-box > .close::after
{
    transform: rotate(45deg);
}
.mob-menu-box > .close:hover::before,
.mob-menu-box > .close:hover::after
{
    background: rgba(163, 126, 44, 1);
}
.mob-menu-box > .scroll
{
    margin-top: 60px;
    height: 100%;
    overflow: auto;
}
.mob-menu-box > .scroll::-webkit-scrollbar
{
    background: transparent;
    width: 0;
}
.mob-menu-box > .scroll > ul
{
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    margin: 0 auto;
    padding: 10px;
    width: 50vh;
}
.mob-menu-box > .scroll > ul:last-of-type
{
    border-bottom: none;
    margin-bottom: 70px;
}
.mob-menu-box > .scroll > ul > li
{
    padding: 10px 0;
}
.mob-menu-box > .scroll > ul > li a
{
    color: white;
    font-size: 15px;
    transition: color .3s;
}
.mob-menu-box > .scroll > ul > li a:hover
{
    color: rgba(163, 126, 44, 1);
}
.mob-menu-box .lng ul
{
    padding: 10px 0;
    display: none;
}
.mob-menu-box .lng ul > li
{
    padding: 5px 10px;
}
.mob-menu-box .lng ul > li > a
{
    color: rgba(255,255,255,.7);
    font-size: 13px;
}
.mob-TopBar > .search
{
    position: fixed;
    width: 100%;
    height: 100px;
    top: 70px;
    left: 0;
    z-index: 100;
    display: flex;
    background: white;
    display: none;
}
.mob-TopBar > .search > form
{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: flex;
}
.mob-TopBar > .search > form > input
{
    width: 80vw;
    outline: none;
    height: 30px;
    font-size: 16px;
    background: transparent;
    border: none;
    border-bottom: 1px solid rgb(212, 212, 212);
}
.mob-TopBar > .search button
{
    background-color: rgb(18, 120, 74);
    border: 1px solid rgb(18, 120, 74);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    outline: none;
    margin-left: 10px;
    margin-top: -10px;
    transition: background-color .3s;
}
.mob-TopBar > .search button:hover
{
    background-color: transparent;
}
.mob-TopBar > .search button > svg
{
    height: 14px;
    width: 14px;
    fill: rgb(255, 255, 255);
    display: flex;
    margin: 0 auto;
    transition: fill .3s;
}
.mob-TopBar > .search button:hover > svg
{
    fill: rgba(18, 120, 74);
}
@media ( max-width: 1300px )
{
    .TopBar_wrap
    {
        display: none;
    }
    .mob-TopBar
    {
        display: block;
    }
}
/** 모바일 탑바 끝 **/

/** 상단 배너 시작 **/
.TopBanner
{
    max-width: unset;
    height: 100vh;
    min-height: auto;
    position: relative;
    overflow: hidden;
}
.TopBanner > video
{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.TopBanner > .bg-black
{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #000;
    opacity: .5;
}
.TopBanner > .TextBox
{
    position: absolute;
    left: 12%;
    top: 57%;
    color: #fff;
    line-height: 1.2;
    cursor: default;
}
.TopBanner > .TextBox > h1
{
    font-size: 30px;
}
.TopBanner > .TextBox > h2
{
    font-weight: 400;
    font-size: 20px;
}
.TopBanner > .TextBox > a
{
    display: inline-block;
    font-size: 14px;
    border: 1px solid #fff;
    text-align: center;
    padding: 10px 35px;
    margin-top: 20px;
    transition: color .3s, background .3s;
}
.TopBanner > .TextBox > a:hover
{
    color: rgba(0, 96, 57, 1);
    background: #fff;
}
.TopBanner > svg.down
{
    fill: #fff;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    animation: animate 1.2s linear infinite;
}
@keyframes animate
{
    0%
    {
        bottom: 100px;
    }
    80%
    {
        opacity: 1;
    }
    100%
    {
        bottom: 20px;
        opacity: 0;
    }
}
/** 상단 배너 끝 **/

/** 롤렉스 콜렉션 시작 **/

.Collect_wrap .TextBox
{
    margin: 0 auto;
    text-align: center;
    line-height: 1.2;
    cursor: default;
    margin-top: 50px;
}
.Collect_wrap .TextBox > h1
{
    font-size: 18px;
    margin-bottom: 5px;
}
.Collect_wrap .TextBox > h2
{
    font-size: 15px;
    font-weight: 400;
    color: #6b6b6b;
    margin: 0 20px;
}
.Collect_wrap .C-slide
{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    margin-top: 30px;
    margin-bottom: 35px;
    justify-content: center;
}
.Collect_wrap .C-slide .item
{
    display: flex;
}
.Collect_wrap .C-slide .item > h3
{
    text-align: center;
    cursor: default;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 10px;
}
.Collect_wrap .C-slide li
{
    background: rgba(0,0,0,.3);
    width: 15px;
    height: 15px;
    border-radius: 50%;
}
.Collect_wrap .C-slide .slick-dots .slick-active
{
    background: rgba(0, 96, 57, 1);
}
.Collect_wrap .C-slide button
{
    display: none;
}
.Collect_wrap .img-box
{
    position: relative;
    display: inline-block;
    margin: 0 20px;
}
.Collect_wrap .button
{
    position: absolute;
    bottom: 13px;
    right: 8px;
    background: rgba(0, 96, 57, .5);
    padding: 5px 15px;
    border: 1px solid #fff;
    transition: background .3s;
}
.Collect_wrap .img-box:hover .button
{
    background: rgba(0, 96, 57, 1);
}

.Collect_wrap > .w-btn
{
    text-align: center;
    cursor: default;
    margin-bottom: 50px;
    margin-top: 50px;
}
.Collect_wrap > .w-btn > .btn
{
    display: inline-block;
    font-size: 14px;
    border: 1px solid rgba(0, 96, 57, 1);
    color: rgba(0, 96, 57, 1);
    text-align: center;
    padding: 10px 35px;
    transition: color .3s, background .3s;
    margin: 0 8px;
}
.Collect_wrap > .w-btn > .btn:hover
{
    color: #fff;
    background: rgba(0, 96, 57, 1);
}
@media (max-width: 1300px)
{
    .Collect_wrap .C-slide
    {
        max-width: 800px;
    }
}
@media (max-width: 840px)
{
    .Collect_wrap .C-slide
    {
        max-width: 400px;
    }
}
/** 롤렉스 콜렉션 끝 **/

/** 롤렉스 모델 시작 **/
.Model_wrap
{
    width: 100%;
    background: #dad3cb;
    padding-top: 50px;
    padding-bottom: 20px;
}
.Model_wrap > .TextBox
{
    text-align: center;
    line-height: 1.2;
    cursor: default;
    display: block;
}
.Model_wrap > .TextBox > h1
{
    font-size: 18px;
    margin-bottom: 5px;
}
.Model_wrap > .TextBox > h2
{
    font-size: 15px;
    font-weight: 400;
    color: #6b6b6b;
    margin: 0 20px;
}
.Model_wrap > .w-mdl
{
    margin-top: 30px;
}
.Model_wrap > .w-mdl .img-box
{
    position: relative;
    display: inline-block;
    left: 50%;
    transform: translateX(-50%);
}
.Model_wrap > .w-mdl .img-box img
{
    margin: 0 auto;
}
.Model_wrap > .w-mdl .img-box .i-text
{
    line-height: 1.2;
    text-align: center;
    margin-top: 15px;
    white-space: nowrap;
}
.Model_wrap > .w-mdl .img-box .i-text h1
{
    font-size: 14px;
    font-weight: 400;
}
.Model_wrap > .w-mdl .img-box .i-text h2
{
    font-size: 14px;
    font-weight: 300;
}
.Model_wrap > .w-mdl .slick-dots
{
    position: static;
    margin-top: 30px;
}
.Model_wrap > .w-mdl .slick-dots > li
{
    background: #fff;
    border-radius: 50%;
    height: 15px;
    width: 15px;
}
.Model_wrap > .w-mdl .slick-dots .slick-active
{
    background: rgba(0, 96, 57, 1);
}
.Model_wrap > .w-mdl .slick-dots > li button,
.Model_wrap > .w-mdl .slick-dots > li > button::before
{
    display: none;
}
/** 롤렉스 모델 끝 **/

/** 자세히 보기 시작 **/
.H_wrap,
.W_wrap,
.org_wrap
{
    position: relative;
    overflow: hidden;
}
.H_wrap > img,
.W_wrap > img,
.org_wrap > img
{
    opacity: 0;
    transform:scale(1.4);
    display: block;
    transition: opacity 1s, transform 1s;
    height: 320px;
    width: 100%;
    object-fit: cover;
}
.H_wrap.active > img,
.W_wrap.active > img,
.org_wrap.active > img
{
    opacity: 1;
    transform:scale(1);
}
.H_wrap > .TextBox,
.W_wrap > .TextBox,
.org_wrap > .TextBox
{
    position: absolute;
    left: 60%;
    top: 50%;
    transform: translateY(-50%);
    line-height: 1.2;
    cursor: default;
    white-space: nowrap;
}
.W_wrap > .TextBox
{
    right: auto;
    left: 10%;
}
.org_wrap > .TextBox
{
    right: auto;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
}
.H_wrap > .TextBox > h1,
.W_wrap > .TextBox > h1,
.org_wrap > .TextBox > h1
{
    font-size: 30px;
    font-weight: 500;
    color: #b98647;
    margin-bottom: 10px;
    transform: translateY(100%);
    opacity: 0;
    transition: opacity 1s .2s, transform 1s .2s;
}
.H_wrap > .TextBox > span,
.W_wrap > .TextBox > span,
.org_wrap > .TextBox > span
{
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    display: block;
    transform: translateY(100%);
    opacity: 0;
    transition: opacity 1s .7s, transform 1s .7s;
}
.H_wrap > .TextBox > a,
.W_wrap > .TextBox > a,
.org_wrap > .TextBox > a
{
    display: inline-block;
    font-size: 14px;
    border: 1px solid #fff;
    text-align: center;
    padding: 10px 35px;
    margin-top: 25px;
    color: #fff;
    transform: translateY(100%);
    opacity: 0;
    transition: color .3s, background .3s, opacity 1s 1.2s, transform 1s 1.2s;
}
.H_wrap > .TextBox > a:hover,
.W_wrap > .TextBox > a:hover,
.org_wrap > .TextBox > a:hover
{
    color: rgba(0, 96, 57, 1);
    background: #fff;
}
.H_wrap.active > .TextBox > h1, .W_wrap.active > .TextBox > h1, .org_wrap.active > .TextBox > h1,
.H_wrap.active > .TextBox > span, .W_wrap.active > .TextBox > span, .org_wrap.active > .TextBox > span,
.H_wrap.active > .TextBox > a, .W_wrap.active > .TextBox > a, .org_wrap.active > .TextBox > a
{
    opacity: 1;
    transform: translateY(0);
}
@media (max-width: 1000px)
{
    .H_wrap > .TextBox,
    .W_wrap > .TextBox
    {
        right: auto;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        text-align: center;
    }
}
@media (max-width: 700px)
{
    .H_wrap > .TextBox > h1,
    .W_wrap > .TextBox > h1,
    .org_wrap > .TextBox > h1
    {
        font-size: 20px;
        text-align: center;
    }
    .H_wrap > .TextBox > span,
    .W_wrap > .TextBox > span,
    .org_wrap > .TextBox > span
     {
        font-size: 15px;
         text-align: center;
     }
}
/** 자세히 보기 끝 **/

/** Footer 시작 **/
.F_wrap.pc{
    display: flex;
}
.F_wrap.mo{
    display: none;
}


.F_wrap
{
    max-width: 1160px;
    padding: 0 20px;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
}
.F_wrap > div:nth-child(2)
{
    margin: 0 20px;
}
.F_wrap > div
{
    width: 360px;
}
.F_wrap > div nav
{
    display: flex;
    border-bottom: 1px solid #000;
    align-items: flex-end;
    padding-bottom: 8px;
    justify-content: space-between;
}
.F_wrap > div h1
{
    font-size: 13px;
    cursor: default;
    margin-right: 10px;
}
.F_wrap > div nav a
{
    width: 10px;
    height: 10px;
    display: none;
}
.F_wrap > div nav svg
{
    display: block;
    width: 100%;
    height: 100%;
}
.F_wrap > div ul
{
    padding: 8px 0;
    display: block;
}
.F_wrap > div ul > li > a
{
    font-size: 13px;
    transition: color .3s;
    white-space: nowrap;
}
.F_wrap > div ul > li > a:hover
{
    color: rgba(163, 126, 44, 1);
}
.F_wrap > div ul > li > a > svg
{
    transition: fill .3s;
}
.F_wrap > div ul > li > a:hover > svg
{
    fill: rgba(163, 126, 44, 1);
}
.F_wrap > div ul > li > a > span
{
    display: inline-block;
    transform: translateY(-14%);
    margin-left: 5px;
}
.F_wrap > div > nav:last-child
{
    margin-top: 50px;
}
.F_wrap > div nav svg
{
    fill: #000;
    transform: rotate(180deg);
}
@media (max-width: 750px)
{
    .F_wrap.pc{
    display: none;
    }
    .F_wrap.mo{
    display: block;
    }

    .F_wrap > div
    {
        width: 100%;
    }
    .F_wrap > div:nth-child(2),
    .F_wrap > div > div:first-child
    {
        margin: 20px 0;
    }
    .F_wrap > div nav a
    {
        display: block;
    }
    .F_wrap > div nav a.active
    {
        transform: rotate(180deg);
    }
    .F_wrap > div ul
    {
        display: none;
    }
}
/** Footer 끝 **/

/** 스크롤탑 버튼 시작 **/
.top
{
    position: fixed;
    right: 2%;
    bottom: 5%;
    width: 50px;
    width: 50px;
}
.top > img
{
    display: block;
    width: 100%;
}
@media (max-width: 750px)
{
    .top
    {
        right: 10%;
    }
}
/** 스크롤탑 버튼 끝 **/